body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://pbs.twimg.com/profile_images/1102132416402083840/RU7346Xb.jpg) no-repeat center center fixed;
  background-size: cover;

  
}
h1{
  font-size: 2em;
  
}
span{
  font-size: 1.7em;
}

.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: all 1s;

}
.btn-primary:hover{
  transform: scale(1.1);
}
.buffer{
  height: 4rem;
}
.container{
  padding: 75px;
}
